<div *ngIf="staffTimingInfo && staff">
  <h1 class="mb-3 mt-3">{{staff.firstName}} {{staff.lastName}} <small><button
        (click)="staff.showPersonParameter = !staff.showPersonParameter" class="btn btn-info btn-sm"> Personal
        Information</button></small></h1>
  <a [routerLink]="['/']"><i class="fas fa-arrow-left"></i> back</a>
  <div *ngIf="staff.showPersonParameter" class="mb-3 mt-2">
    <ul class="list-group">
      <li class="list-group-item">{{staff.firstName}} {{staff.lastName}}</li>
      <li class="list-group-item">Joined: {{staff.joined}}</li>
      <li class="list-group-item">Email: {{staff.email}}</li>
      <li class="list-group-item">Phone: {{staff.phone}}</li>
      <li class="list-group-item">Sallary Per Hour: {{staff.salaryPerhour}}</li>
    </ul>
  </div>
  <div *ngIf="monthToRender">
    <form >
      <select (change)="changeMonth($event)" name="cars" class="mb-3 mt-5 form-control">
        <option *ngFor="let month of months"> {{month.month}}</option>
      </select>
    </form>
    <ul class="list-unstyled">
      <li class="card card-body mb-2" *ngFor="let timing of monthToRender.dates">
        <h3>{{timing.date}}
          <small>
            <button (click)="timing.showCurrentDayTiming = !timing.showCurrentDayTiming"
              class="btn btn-dark btn-sm mr-2">
              <i [ngClass]="timing.showCurrentDayTiming ? 'fa fa-minus' : 'fa fa-plus'"></i>
            </button>
          </small>
        </h3>
        <div *ngIf="timing.showCurrentDayTiming">
          <ul *ngFor="let times of timing.enterAndLeaveTImes" class="list-unstyled mb-2">
            <li class="list-group-item">entertime: {{times.enterTime}},</li>
            <li class="list-group-item">entertime: {{times.leaveTime}},</li>
          </ul>
        </div>
      </li>
    </ul>
  </div>

</div>
