<div *ngIf="staffTimingInfo && staff">
  <h1 class="mb-3 mt-3">{{staff.firstName}} {{staff.lastName}}  <small><button (click)="staff.showPersonParameter = !staff.showPersonParameter" class="btn btn-info btn-sm" ><i [ngClass]="staff.showPersonParameter? 'fa fa-minus': 'fa fa-plus'"></i> Personal Information</button></small></h1>


  <a [routerLink]="['/']"><i class="fas fa-arrow-left"></i> back</a>

  <div *ngIf="staff.showPersonParameter" class="mb-3 mt-2" >
      <ul class="list-group">
          <li class="list-group-item">{{staff.firstName}} {{staff.lastName}}</li>
          <li class="list-group-item">Email: {{staff.email}}</li>
          <li class="list-group-item">Phone: {{staff.phone}}</li>
          <li class="list-group-item">Sallary Per Hour: {{staff.salaryPerhour}}</li>

        </ul>

  </div>
  <ul class="list-unstyled">
    <li class="card card-body mb-2" *ngFor="let timing of staffTimingInfo.timing">
      <h3>{{timing.date}}
        <small>
          <small>
            <button (click)="timing.showCurrentDayTiming = !timing.showCurrentDayTiming" class="btn btn-dark btn-sm mr-2">
              <i [ngClass]="timing.showCurrentDayTiming ? 'fa fa-minus' : 'fa fa-plus'"></i>
            </button>
          </small>
        </small>
      </h3>
      <div *ngIf="timing.showCurrentDayTiming">
        <!-- <p *ngFor="let times of timing.enterAndLeaveTImes">
          entertime: {{times.enterTime}}, <br>
          leavetime: {{times.leaveTime}}
        </p> -->
        <ul *ngFor="let times of timing.enterAndLeaveTImes" class="list-unstyled mb-2">
          <li class="list-group-item">entertime: {{times.enterTime}},</li>
          <li class="list-group-item">entertime: {{times.leaveTime}},</li>
        </ul>
      </div>
    </li>
  </ul>
</div>
