<app-people-form (newStaff)="onNewStaff($event)" ></app-people-form>
<ul class="list-unstyled">
  <li class="card card-body mb-2" *ngFor="let person of people">
    <h3>{{ person.firstName }} {{ person.lastName }}
      <small>
        <button (click)="person.showPersonParameter=!person.showPersonParameter" class="btn btn-dark btn-sm mr-2">
          <i [ngClass]="person.showPersonParameter ? 'fa fa-minus' : 'fa fa-plus'"></i>
        </button>
      </small>
      <!-- chamrtveli -->
      <small>
        <button (click)="personWorking(person)" [ngClass]="person.personWorking ? 'btn-success' : 'btn-dark' " class="btn  btn-sm mr-2">
          <i class="fa fa-power-off"></i>
        </button>
      </small>
      <small>
          <button (click)="calculateSalary(person)" class="btn btn-dark btn-sm">
              <i class="fas fa-dollar-sign"></i>
          </button>
        </small>
        <small>
          <button (click)="deleteStaff(person)" style="font-family:sans-serif" class="btn btn-dark btn-sm ml-2">
              <i class="fas fa-remove">X</i>
          </button>
        </small>
    </h3>
    <ul class="list-group" *ngIf="person.showPersonParameter">
      <li class="list-group-item">Joined: {{person.joined }}</li>
      <li class="list-group-item">Time: hour {{(person.workingTime - (person.workingTime%60))/60}} mins:
        {{person.workingTime%60}}</li>
      <li class="list-group-item">Salary: <input type="text" [(ngModel)]="person.salaryForMonth" disabled = "true"> </li>
    </ul>
  </li>
</ul>
