
<a [routerLink]="['/adduser']" class="btn btn-success mt-4 mb-3 mr-2"><i class="fa fa-plus"></i> Add Staff</a>
<a (click)="restartPeriod()" class="btn btn-danger mr-2 mt-4 mb-3" style="color:white"><i class="fa fa-undo"></i> Restart Period</a>
<!-- <a (click)="deleteOldInfo()" class="btn btn-danger mt-4 mb-3" style="color:white"><i class="fa fa-trash" aria-hidden="true"></i> Delete Old Info</a> -->
<ul class="list-unstyled">
  <li class="card card-body mb-2" *ngFor="let person of people">
    <h3> <a routerLink="person-info/{{ person.id }}"  class="link" > {{ person.firstName }} {{ person.lastName }} </a>

      <small>
        <button (click)="showPersonParametersButton(person)" class="btn btn-dark btn-sm ml-1 mr-2">
          <i [ngClass]="person.showPersonParameter ? 'fa fa-minus' : 'fa fa-plus'"></i>
        </button>
      </small>
      <!-- chamrtveli -->
      <small>
        <button (click)="personWorking(person)" [ngClass]="person.working ? 'btn-success' : 'btn-dark' " class="btn  btn-sm mr-2">
          <i class="fa fa-power-off"></i>
        </button>
      </small>
      <small>
          <button (click)="calculateSalary(person)" title="Calculate sallary" class="btn btn-dark btn-sm">
              <i class="fas fa-dollar-sign"></i>
          </button>
        </small>
        <small>
          <button (click)="deleteStaff(person)" title="delete"  class="btn btn-danger btn-sm  float-right" style="border-top-left-radius:0px;border-bottom-left-radius:0px" >
              <i class="fas fa-trash"></i>delete
          </button>
        </small>
        <small>

          <a title="edit" routerLink="person-edit/{{ person.id }}" class="btn btn-primary btn-sm  float-right" style="border-top-right-radius:0px;border-bottom-right-radius:0px"><i class="far fa-edit"></i> Edit</a>
        </small>
        <small>

          <a title="edit" routerLink="person-info/{{ person.id }}" class="btn btn-dark btn-sm ml-2 "><i class="fa fa-info-circle" aria-hidden="true"></i> Details</a>
        </small>


    </h3>
    <ul class="list-group" *ngIf="person.showPersonParameter">
      <!-- <li class="list-group-item">Joined: {{person.joined }}</li> -->
      <li class="list-group-item">Time: hour {{(person.workingTime - (person.workingTime%60))/60}} mins:
        {{person.workingTime%60}}</li>
      <li class="list-group-item">Salary: <input type="text" [(ngModel)]="person.salaryForMonth" disabled = "true"> <div *ngIf="person.working" style="color:red; font-size: 14px;" >The worked Time is not correct while working, but sallary will be calculated correctly</div></li>
    </ul>
  </li>
</ul>
